.education_body{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.education_description{
    flex: 0.65 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.education_image {
    box-sizing: border-box;
    padding: 1rem;
    flex: 0.35 1;
    margin-top: 1rem;
    pointer-events: none;
}
.education_image img{
    max-width: 408px;
}