@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* start */
.main_container{
  padding-top: 56px;
}

.row_cont{
  flex-wrap: initial;
}

.row_cont .col_cont{
  flex: initial;
  width: auto;
}

.card_box_shadow{
  box-shadow: 0px 1px 4px 0px #00000052;
}

.margin_right_10{
  margin-right: 10px;
}