.banner_sec{

}
.banner_bg_img_sec{
    width: 100%;
    background-image: url(./../../assets/img/rs-cover.jpg);
    height: 515px;
    background-position: center;
    background-size: cover;
}
.userCard {
    background-color: var(--white);
    max-width: 940px;
    margin: 0 auto;
    margin-top: -345px;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);
}
.userCard .pictureAndText {
    padding: 50px;
    display: flex;
}
.userCard .pictureAndText .picture {
    min-width: 300px;
    display: flex;
    justify-content: center;
}
.userCard .pictureAndText .picture img{
    height: initial;
}
.userCard .pictureAndText .text {
    margin-left: 65px;
    width: 470px;
}
.userCard .pictureAndText .text .profile .welcome {
    background-color: var(--red);
    color: var(--white);
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.userCard .pictureAndText .text .profile .welcome .triangle {
    position: absolute;
    width: 0px;
    border: 10px solid transparent;
    border-top-width: 0px;
    border-left-color: var(--red);
    top: 100%;
    left: 4px;
    display: block;
}
.userCard .pictureAndText .text .profile h1 {
    margin-top: 18px;
    font-weight: 700;
    font-size: 36px;
    color: var(--lightBlack);
    letter-spacing: .1rem;
}
.userCard .pictureAndText .text .profile h1 span {
    font-weight: 300;
}
.userCard .pictureAndText .text .profile p {
    color: var(--lightBlack);
    font-size: 18px;
}
.userCard .pictureAndText .text .profile hr {
    margin: 20px 0;
}
.userCard .pictureAndText .text .profile dl dt, main#siteAbout .userCard .pictureAndText .text .profile dl dd {
    float: left;
    padding: 5px 0;
}
.userCard .pictureAndText .text .profile dl dt {
    width: 30%;
    font-weight: bold;
    color: var(--normalBlacl);
    font-size: 13px;
}
.userCard .pictureAndText .text .profile dl dd a,
.userCard .pictureAndText .text .profile dl dd a:hover,
.userCard .pictureAndText .text .profile dl dd a:focus,
.userCard .pictureAndText .text .profile dl dd a:active{
    color: var(--lightBlack);
    text-decoration: none;
    outline: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.userCard footer.media {
    background-color: var(--red);
    text-align: center;
}
.userCard footer.media a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.userCard footer.media a i {
    vertical-align: middle;
    color: var(--white);
}



.userSubCard{
    background-color: var(--black);
}

.text_typing_cont{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}